{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/page-experience.css' %}">
{% endblock %}

{% block content %}
<ul>
    <li>Teaching myself dev stuff since september 2017, with a big break due to cryptocurrency gold-rush</li>
    <div class="subparagraph">I've built so many things by myself just for fun and to learn more. I also followed many courses in Udemy and most of the MongoDB University courses.</div>

    <li>January 2019 I worked as an intern in a really small startup which was just getting started.</li>
    <div class="subparagraph">At this startup I was using and learning Angular a lot and also some Redux (NGRX). I was also doing some database modeling and got also the overview of how a big app integrates all of its components. Sadly, this position was unpaid and I was there as a 'collaborator', so I left as soon as I found a proper position.</div>

    <li>In March 2019 I was offered another intern position at La Colmena in Aljarafe, Sevilla. This time was a paid position. I was so happy ^^ And now here I am, writing these lines</li>
    <div class="subparagraph">In La Colmena I am mainly learning different aspects of web development. Also some basic sysadmin stuff, like running and managing a Linux server (mainly Ubuntu). Slowly I will also learn about Ethereum development, which is one of the next challenges I have ahead.</div>

</ul>
{% endblock %}