{% extends "base.html" %}
{% load static %}

{% block content %}
<p>As you may have already observed by the 'bootstrapish' look of this website, I am not a big fan of the designing side of development. So making things look pretty is not one of my strengths.</p>
<canvas id="myChart" width="1120" height="1120" style="display: block; width: 560px; height: 560px;" class="chartjs-render-monitor"></canvas>

<script src="{% static 'js/chart.bundle.min.js' %}"></script>
<script src="{% static 'js/chart.min.js' %}"></script>
<script src="{% static 'js/mychart.js' %}"></script>
{% endblock %}

